@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 43% 97%;
    --foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 231 39% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 30% 90%;
    --secondary-foreground: 222 84% 5%;
    --muted: 230 30% 90%;
    --muted-foreground: 230 10% 45%;
    --accent: 261 44% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 20% 85%;
    --input: 230 30% 92%;
    --ring: 231 39% 49%;
    --chart-1: 231 39% 49%;
    --chart-2: 261 44% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 230 43% 97%;
    --sidebar-foreground: 222 84% 5%;
    --sidebar-primary: 231 39% 49%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 230 30% 90%;
    --sidebar-accent-foreground: 222 84% 5%;
    --sidebar-border: 230 20% 85%;
    --sidebar-ring: 231 39% 49%;
  }
  .dark {
    --background: 222 84% 5%;
    --foreground: 230 43% 97%;
    --card: 222 80% 8%;
    --card-foreground: 230 43% 97%;
    --popover: 222 84% 5%;
    --popover-foreground: 230 43% 97%;
    --primary: 231 39% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 80% 12%;
    --secondary-foreground: 230 43% 97%;
    --muted: 222 80% 12%;
    --muted-foreground: 230 10% 65%;
    --accent: 261 44% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 80% 15%;
    --input: 222 80% 15%;
    --ring: 231 39% 49%;
    --chart-1: 231 39% 49%;
    --chart-2: 261 44% 63%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 36%;
    --chart-5: 27 87% 37%;
    --sidebar-background: 222 84% 5%;
    --sidebar-foreground: 230 43% 97%;
    --sidebar-primary: 231 39% 49%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 222 80% 12%;
    --sidebar-accent-foreground: 230 43% 97%;
    --sidebar-border: 222 80% 15%;
    --sidebar-ring: 231 39% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
